<div class="col-md-4">


   <a href="/admin/banner"><button class="btn btn-success form-control mt-2 mb-2">Banner page management</button></a>
   <a href="/admin/query"><button class="btn btn-success form-control mt-2 mb-2">Ouery management</button></a>
   <a href="/admin/testi"><button class="btn btn-success form-control mt-2 mb-2">Testinominal management</button></a>
   <a href="/admin/services"><button class="btn btn-success form-control mt-2 mb-2">Services management</button></a>
   <a href="/admin/user"><button class="btn btn-success form-control mt-2 mb-2">User management</button></a>
   <a href="/admin/parking"><button class="btn btn-success form-control mt-2 mb-2">Parking management System</button></a>

  

</div>